$bwt-green: rgb(44, 251, 44);
$bwt-blue:rgb(36, 130, 218);
$bwt-orange:rgb(255, 179, 39);
$white:#eeeeee

$small: 8px;
$medium: 12px;
$large:16px;

$font-small: 8px;
$font-medium: 16px;
$font-large:24px;